<div class="footer-content">
    <div class="footer-person">
        <span class="footer-name">Estefania Barria </span>
        <a href="https://github.com/TefiB" class="footer-github"> GitHub</a>
        <a href="https://www.linkedin.com/in/estefania-barria-3b92121a3/" class="footer-github"> Linkedin</a>
    </div>
    <div class="footer-separator"></div>
    <div class="footer-person">
        <span class="footer-name">Fabian Florentin </span>
        <a href="https://github.com/Fabian-Florentin" class="footer-github"> GitHub</a>
        <a href="#" class="footer-github"> Linkedin</a>
    </div>
</div>